/* Appears in the top left corner of your home page */
.blog-logo {
    display: flex;
    float: left;
    background: none !important; /* Makes sure there is never a background */
    border: none !important; /* Makes sure there is never a border */
}

.blog-logo img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 35px;
    width: 35px;
}

.blog-logo div {
    color: white;
    opacity: 0.9;
    margin-left: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    /*text-shadow: 1px 2px 20px black;*/
    /*font-family: 'Chivo', sans-serif;*/
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .blog-logo {
        padding: 0;
    }

    .blog-logo img {
        /*height: 30px;*/
    }
}
