.ambassador-container {
    margin-bottom: 50px;
}

.ambassador-name {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.ambassador-title {
    margin: 0;
    font-size: 16px;
}

.ambassador-social {
    /*font-family: 'Varela Round', sans-serif;*/
    font-size: 16px;
    margin: 0;
}

.ambassador-image > div > div {
    border-radius: 50%;
}

.ambassador-bio {
    display: flex;
    font-style: italic;
}

.ambassador-bio::before {
    content: '\201C';
    font-family: "Charter ITC", serif;
    font-size: 11rem;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: -40px;
}