.ambassador-container {
    margin-top: 50px;
    position: relative;
    height: 900px;
}

.ambassador-testimonial {
    background: #3b8686;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 45px;
    margin-top: -50px;
    padding: 30px 70px;
    width: 80%;
    z-index: 2;
}

.ambassador-bio {
    color: #fff;
    display: flex;
    font-family: "Crimson Text", serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: justify;
}

.ambassador-info {
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}

.ambassador-info::before {
    content: "\2014";
    padding-right: 5px;
}

.ambassador-name {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.ambassador-title {
    margin: 0;
    text-transform: uppercase;
}

.ambassador-social {
    margin: 0;
    color: #fff;
}

.campaign .carousel .slide {
    background: #fff;
}

.campaign .carousel.carousel-slider .control-arrow {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    height: 50px;
    width: 50px;
    bottom: 0;
    top: auto;
}

.campaign .carousel .control-prev.control-arrow {
    right: 60px;
    left: auto;
}