.post-listing__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-listing__group {
    display: flex;
}

.post-listing {
    margin: 4rem 0;
}

.post-listing.margin {
    margin-right: 20px;
}

/* ==========================================================================
       Media Queries
   ========================================================================== */

@media only screen and (max-width: 960px) {
    .post-listing__group {
        display: block;
        width: 100% !important;
    }

    .post-listing.margin {
        margin: 4rem auto;
        width: 100% !important;
    }
}
