.post-listing {
    width: 480px;
    margin: 4rem 0;
}

.post-image > div > div {
    border-radius: 3px;
}

/* ==========================================================================
       Media Queries
   ========================================================================== */

@media only screen and (max-width: 1020px) {
    .post-listing {
        width: auto;
        margin-right: 0 !important;
    }
}