.post-listing__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-listing__group {
    display: flex;
}

.post-listing {
    flex-grow: 1;
    margin: 4rem 5px;
}

/* ==========================================================================
       Media Queries
   ========================================================================== */

@media only screen and (max-width: 1020px) {
    .post-listing {
        width: 100%;
        margin: 4rem auto !important;
    }
}