.page-title__container {
    color: #fff;
    font-weight: bold;
    height: 200px;
    width: 100%;
    margin: 4rem auto;
}

.page-title {
    font-size: 4rem;
    letter-spacing: 0.6px;
    line-height: 1.15em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 2px #172121;
}

.page-title__description {
    font-size: 2.5rem;
}