.about__heading {
  margin-top: 100px;
}

.objective-container {
  border: 6px solid rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 30px;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}

.member-container {
  border: 6px solid rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.member-photo__container {
  margin-right: 20px;
  min-width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-color: #172121;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 100%;
}

.member-info__container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.member-name {
  margin: 10px 0 !important;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.member-title {
  font-style: italic;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: unset;
  margin: 10px 0 !important;
}

.member-bio {
  margin-bottom: 70px;
}

.member-bio p {
  margin: 10px 0;
  text-align: inherit;
}

/* ==========================================================================
      Media Queries - Smaller than 960px
   ========================================================================== */

@media only screen and (max-width: 960px) {
  .member-container {
    flex-direction: column;
    padding: 20px;
    margin: 30px 20px 100px 20px;
  }

  .member-photo__container {
    min-width: 100px;
    height: 100px;
    width: 100px;
    margin: 20px;
  }

  .member-info__container {
    margin: 5px 10px;
    display: block;
  }

  .member-name {
    margin: 10px 20px !important;
  }

  .member-title {
    font-style: italic;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: unset;
    margin: 0 20px !important;
  }

  .member-bio p {
    margin: 20px;
  }
}

/* ==========================================================================
   Media Queries - Smaller than 600px
   ========================================================================== */

@media only screen and (max-width: 600px) {
  .member-info__container {
    margin: 5px 0;
  }
}
