.about__heading {
  margin-top: 100px;
}

.objective-container {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 30px;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}

.member-container {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.member-container.reverse {
  flex-direction: row-reverse;
}

.member-photo__container {
  min-width: 500px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-color: #172121;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 100%;
}

.member-info__container {
  margin: 5px 20px;
}

.member-name {
  margin: 10px 0 !important;
  font-size: 2.2rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.member-title {
  font-style: italic;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: unset;
  margin: 10px 0 !important;
}

.member-bio {
  margin-bottom: 70px;
}

.member-bio p {
  margin: 10px 0;
  text-align: inherit;
}

/* ==========================================================================
      Media Queries - Smaller than 960px
   ========================================================================== */

@media only screen and (max-width: 960px) {
  .member-container,
  .member-container.reverse {
    flex-direction: column;
  }

  .member-photo__container {
    min-width: unset;
    height: 45vh;
    border-radius: 0;
  }

  .member-info__container {
    margin: 5px 10px;
  }

  .member-name {
    margin: 10px 20px !important;
  }

  .member-title {
    font-style: italic;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: unset;
    margin: 0 20px !important;
  }

  .member-bio p {
    margin: 20px;
  }
}

/* ==========================================================================
   Media Queries - Smaller than 600px
   ========================================================================== */

@media only screen and (max-width: 600px) {
  .member-info__container {
    margin: 5px 0;
  }
}
