.main-nav {
    position: relative;
    z-index: 3;
    padding: 0 40px;
}

.main-nav a,
div {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

/* Special styles when overlaid on an image */
.main-nav.overlay {
    border: none;
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-cover .main-nav.overlay {
    background: none;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .main-nav {
        padding: 5px;
        margin-bottom: 2rem;
    }

    .main-nav.overlay a:hover {
        color: #fff;
        border-color: transparent;
        background: transparent;
    }

    .no-cover .main-nav.overlay {
        background: none;
    }
}
