/* Big Calendar overrides */
.rbc-calendar {
    height: 70vh;
}

.rbc-toolbar-label {
    text-transform: uppercase;
    font-weight: bold;
}

.rbc-toolbar button {
    font-weight: normal;
}

.rbc-header {
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
}

/* MONTH VIEW */
.rbc-month-header .rbc-header {
    border: 1px solid #eaeff3;
    border-bottom: 2px solid #eaeff3;
}

.rbc-header + .rbc-header {
    border: 1px solid #eaeff3;
    border-bottom: 2px solid #eaeff3;
}

.rbc-month-view {
    border: 1px solid #eaeff3;
}

.rbc-day-bg {
    border-left: 1px solid #eaeff3;
    border-right: 1px solid #eaeff3;
    border-bottom: 1px solid #eaeff3;
}

.rbc-date-cell {
    padding: 10px 5px;
    text-align: left;
}

.rbc-date-cell > a {
    padding: 5px;
}

.rbc-current > a {
    border-radius: 100px;
    background: #172121;
    color: #fff;
}

.rbc-event {
    background: #172121;
    border-radius: 10px;
    margin: 0 10px;
    padding: 2px 10px;
}

.rbc-event.rbc-selected {
    background: #172121;
}

.rbc-event-continues-prior {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.rbc-event-continues-after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.rbc-event-content {
    font-size: 14px;
    font-weight: bold;
}

/* WEEK & DAY VIEW */
.rbc-current-time-indicator {
    height: 2px;
    background: #fb616b;
    margin: 0 -10px;
}

.rbc-current-time-indicator::before {
    content: ' ';
    display: block;
    border-radius: 100px;
    height: 8px;
    width: 8px;
    margin-top: -3px;
    background: #fb616b;
}

.rbc-time-view .rbc-header {
    padding: 10px;
    border: 1px solid #eaeff3;
    border-bottom: 2px solid #eaeff3;
}

.rbc-time-view .rbc-header.rbc-today {
    padding: 10px;
    border-bottom: 2px solid #172121;
}

.rbc-time-view .rbc-label {
    font-size: 12px;
}

.rbc-time-header-gutter,
.rbc-time-gutter {
    min-width: 75px;
}

.rbc-today {
    background: #172121;
}

.rbc-day-slot .rbc-event {
    border: 0;
    margin: 0;
}

/* AGENDA VIEW */
.rbc-agenda-view table.rbc-agenda-table {
    margin: 0;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
    padding: 10px;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
    font-size: 14px;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
    /*font-size: 14px;*/
}

/* Big Calendar overrides - end */

/* MODAL */
.event-modal__container > div {
    z-index: 9;
}

.event-date__start,
.event-date__end {
    flex-grow: 1;
    max-width: 28%;
    padding: 20px;
    font-size: 14px;
}

.event-date__separator {
    height: 70px;
    width: 70px;
    border: 2px solid #eaeff3;
    border-left: 0;
    border-bottom: 0;
    border-radius: 3px;
    transform: rotate(45deg);
    margin: 12px;
    margin-right: 30px;
}

.event-date__linebreak {
    height: 2px;
    width: 100%;
    background: #eaeff3;
}

.event-description {
    font-size: 14px;
    line-height: 22px;
    padding: 16px 0;
    min-width: 500px;
}

/* LOADING SPINNER */
.spinner__container {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 200px 0;
}

.spinner__container * {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.spinner__container .quiver {
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 899;
    margin-bottom: -50px;
    margin-left: -50px;
    width: 100px;
}

.spinner__container .arrows {
    -moz-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s
        alternate-reverse infinite;
    -webkit-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s
        alternate-reverse infinite;
    animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse
        infinite;
    vertical-align: baseline;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 1px;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #0b486b
        rgba(255, 255, 255, 0);
}

.spinner__container .st {
    border-bottom-color: #0b486b;
}

.spinner__container .nd {
    border-bottom-color: #3b8686;
}

.spinner__container .rd {
    border-bottom-color: #79bd9a;
}

.spinner__container .th {
    border-bottom-color: #a8dba8;
}

.spinner__container .fth {
    border-bottom-color: #cff09e;
}

.spinner__container span:nth-child(1) {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.spinner__container span:nth-child(2) {
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.spinner__container span:nth-child(3) {
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.spinner__container span:nth-child(4) {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.spinner__container span:nth-child(5) {
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-moz-keyframes equalizor {
    from {
        border-bottom-width: 60px;
    }

    to {
        border-bottom-width: 1px;
    }
}

@-webkit-keyframes equalizor {
    from {
        border-bottom-width: 60px;
    }

    to {
        border-bottom-width: 1px;
    }
}

@keyframes equalizor {
    from {
        border-bottom-width: 60px;
    }

    to {
        border-bottom-width: 1px;
    }
}

.spinner__container .loading {
    display: block;
    text-transform: uppercase;
    color: #cff09e;
}
