.rbc-calendar {
    height: 80vh;
}

.event-modal__container > div {
    z-index: 9;
}

.spinner *,
.spinner *::before,
.spinner *::after {
    box-sizing: border-box;
    position: relative;
}

.spinner__container {
    width: 100%;
    text-align: center;
}

.spinner {
    margin: 200px auto;
    width: 66px;
    height: 90px;
    animation: contanim 2s linear infinite;
}

.spinner svg {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    transform: rotate(-90deg);
}

.spinner svg:nth-child(1) circle {
    stroke: #84ebbd;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(0.2s * (1)) ease infinite;
    transform-origin: center center;
}

.spinner svg:nth-child(2) circle {
    stroke: #4977ec;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(0.2s * (2)) ease infinite;
    transform-origin: center center;
}

.spinner svg:nth-child(3) circle {
    stroke: #f6bb67;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(0.2s * (3)) ease infinite;
    transform-origin: center center;
}

.spinner svg:nth-child(4) circle {
    stroke: #333841;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: strokeanim 3s calc(0.2s * (4)) ease infinite;
    transform-origin: center center;
}

@keyframes strokeanim {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -175.6449737548828 / 3;
    }

    100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -175.6449737548828;
    }
}

@keyframes contanim {
    100% {
        transform: rotate(360deg);
    }
}
