.home-content {
    padding-top: 70px;
}

.home-content h4 {
    letter-spacing: 2px;
}

.featured-section {
    display: flex;
    justify-content: space-around;
}

.featured-photo__container {
    height: 600px;
    margin-right: 20px;
}

.featured-photo {
    width: 50%;
}

.featured-info {
    width: 50%;
}

.featured-title {
    margin-top: 50px;
}

.featured-excerpt {
    margin: 50px 0;
}

.recent-section {
    margin-top: 70px;
}

.home-subtitle {
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0;
}

.home-content iframe {
    width: 100%;
    height: 500px;
}

.home-banner {
    margin-bottom: 20px;
}

.home-banner > div > div {
    /* border-radius: 3px; */
}

.home-banner > div > div:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.home-subscription {
    text-align: center;
    margin-top: 100px;
}

.instafeed {
    display: flex;
    overflow: auto;
}

.instafeed__item {
    position: relative;
    height: 300px;
    width: 300px;
    margin-right: 1px;
}

.instafeed__item__background {
    position: relative;
    background: transparent no-repeat 50%;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.instafeed__item__overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.instafeed__item__overlay--inner {
}

.instafeed__item__caption,
.instafeed__item__location {
    color: #fff;
}

.instafeed__item:hover .instafeed__item__overlay {
    opacity: 1;
}

/* ==========================================================================
      Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .home-content {
        padding-top: 60px;
    }
}

/* ==========================================================================
   Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .featured-section {
        display: block;
    }

    .featured-photo__container {
        height: 300px;
        margin: 0;
    }

    .featured-photo {
        width: 100%;
    }

    .featured-info {
        width: 100%;
    }

    .featured-title {
        margin-top: 50px;
    }

    .featured-excerpt {
        margin: 50px 0;
    }
}