.home-content {
    margin: 4rem auto;
    max-width: 900px;
}

.home-title {
    text-align: center;
    margin-bottom: 100px;
}

.home-content iframe {
    width: 100%;
    height: 500px;
}

.home-banner {
    margin-bottom: 20px;
}

.home-banner > div > div {
    border-radius: 3px;
}