.trail-pin__container {
    display: flex;
}

.trail-pin__container > div{
    flex-grow: 1;
}

.trail-pin {
    height: 30px;
    display: flex;
    margin: 10px;
}

.trail-pin img {
    height: 30px;
    width: auto;
}