.carousel:not(.carousel-slider) .control-next.control-arrow,
.carousel:not(.carousel-slider) .control-prev.control-arrow {
    background: #000;
    padding: 0;
    border-radius: 0;
    top: 0;
    bottom: 0;
}

.carousel .carousel-status {
    left: 0;
}

.mycarousel {
    position: relative;
}

.mycarousel .expand {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 2;
}

.carousel .slide img {
    display: block;
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.carousel .thumb,
.carousel .thumb:hover {
    padding: 0;
}

.carousel .thumb img {
    display: block;
    max-width: 80px;
    max-height: 60px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.mycarousel__overlay {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow-y: hidden;
}

/* MODAL CAROUSEL */

.mycarousel__modal {
}

.mycarousel__modal .carousel.carousel-slider {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mycarousel__modal .slider-wrapper {
    top: 0;
    bottom: 0;
    position: absolute;
}

.mycarousel__modal .carousel .slide {
    background: transparent;
}

.mycarousel__modal .carousel .slide img {
    max-width: 1000px;
    max-height: 700px;
}

/* THUMBNAIL PREVIEW */
.mycarousel__modal .carousel .thumb.selected,
.mycarousel__modal .carousel .thumb:hover {
    border: 3px solid #fff;
    padding: 0;
}

.mycarousel__modal .carousel .thumb {
    border: 3px solid #333;
}

.mycarousel__modal .carousel .thumbs-wrapper {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: 0.5s;
}

.mycarousel__modal .carousel .thumbs-wrapper:hover {
    opacity: 1;
    transition: 0.3s;
}

.mycarousel__modal .carousel:not(.carousel-slider) .control-next.control-arrow,
.mycarousel__modal .carousel:not(.carousel-slider) .control-prev.control-arrow {
    display: none;
}

.mycarousel__modal .carousel .carousel-status {
    font-size: 14px;
}