/* ==========================================================================
       Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    margin: 8rem 0 0;
    padding: 1rem 15px;
    font-size: 1.3rem;
    line-height: 1.75em;
    color: #032b2f;
}

.site-footer a {
    color: #032b2f;
    text-decoration: none;
    font-weight: bold;
    border-bottom: transparent 2px solid;
    transition: 0;
}

.site-footer a:hover {
    border-bottom: #032b2f 2px solid;
}

.site-footer.dark-background,
.site-footer.dark-background a {
    color: #fff;
}

.site-footer.dark-background a:hover {
    border-bottom: #fff 2px solid;
}

.poweredby {
    display: block;
    float: right;
    text-align: right;
}

.copyright {
    display: block;
    float: left;
}

/* ==========================================================================
   13. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 600px) {
    .site-footer {
        margin-top: 5rem;
        display: flex;
        flex-flow: column-reverse;
        align-items: center;

    }

    .post-template .site-footer,
    .page-template .site-footer {
        margin-top: 0;
    }
}
