.main-content {
    margin: 4rem auto;
    padding: 10px;
    max-width: 1200px;
    height: 100%;
}

.main-content iframe {
    width: 100%;
}

/* ==========================================================================
      Media Queries
   ========================================================================== */

@media only screen and (max-width: 968px) {
    .main-content {
        margin: 2rem auto;
        padding: 0;
    }
}
